@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Black.woff2') format('woff2'),
  url('../fonts/Lato-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
  url('../fonts/Lato-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
  url('../fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Italic.woff2') format('woff2'),
  url('../fonts/Lato-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Light.woff2') format('woff2'),
  url('../fonts/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: star;
  src: url('../fonts/star.woff') format('woff'),
  url('../fonts/star.eot#iefix') format('embedded-opentype'),
  url('../fonts/star.ttf') format('truetype'),
  url('../fonts/star.svg#Sri-TSCRegular') format('svg');;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: WooCommerce;
  src: url('../fonts/WooCommerce.woff') format('woff'),
  url('../fonts/WooCommerce.eot#iefix') format('embedded-opentype'),
  url('../fonts/WooCommerce.ttf') format('truetype'),
  url('../fonts/WooCommerce.svg#Sri-TSCRegular') format('svg');;
  font-weight: 400;
  font-style: normal;
}
