<article class="product-card product-card--sale product-card--new">
  <div class="product-card__img-wrap bg-src" data-bg-src="../img/content/products/product33_1.jpg">
    <img src="../img/content/products/product33.jpg" alt="">
    <a href="product.html" class="product-card__link"></a>
    <div class="product-card__marks">
      <div class="product-card__marks-group">
        <span class="product-card__new-mark">новинка</span>
        <span class="product-card__sale-mark">27% скидка</span>
      </div>
    </div>
  </div>
  <div class="product-card__content">
    <div class="product-card__info">
      <a href="category-page.html" class="product-card__category">Кровати</a>
      <h4>
        <a href="product.html" class="product-card__title excerpt-catalog-cart-title">
          КРОВАТЬ AN009
        </a>
      </h4>
      <div class="product-card__rating">
        <div class="product-card__stars-block">
          <div class="rating-mini">
            <span class="rating-mini__value">
            3.03
            </span>
            <span class="rating-mini__item rating-mini__item--active"></span>
            <span class="rating-mini__item rating-mini__item--active"></span>
            <span class="rating-mini__item rating-mini__item--active"></span>
            <span class="rating-mini__item"></span>
            <span class="rating-mini__item"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="product-card__sell-content">
      <div class="product-card__price">
        <del class="product-card__last-price">
          1400 р
        </del>
        <ins class="product-card__current-price">
          1200 р
        </ins>
      </div>
      <button class="product-card__add-to-cart">
        в корзину
        <i class="fas fa-cart-arrow-down"></i>
      </button>
    </div>
</article>
