.collections{
  margin-top: 30px;
  overflow: hidden;
  &__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

    @media only screen and (min-width: 767px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (min-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: 1199px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid $brd-c;
    border-radius: 5px;
    overflow: hidden;
  }
  &__item-img-wrap{
    position: relative;
    display: flex;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
    height: 100px;

    @media only screen and (min-width: 575px) {
      height: 140px;
    }

    @media only screen and (min-width: 767px) {
      height: 240px;
    }
  }
  &__item img{
    @include imageCover;
  }
  &__item-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    box-sizing: border-box;
    padding: 10px 6px;
    min-height: 36px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    color: #222;
  }
}
.categories__item:hover .categories__item-img-wrap{
  transform: scale(1.05);
}
@media only screen and (min-width: 575px){
  .categories{
    &__item-title{
      padding: 5px 6px;
      font-size: 1.5rem;
    }
  }
}
@media only screen and (min-width: 767px){
  .categories{
    &__item-title{
      padding: 15px 10px;
      min-height: 32px;
      font-size: 1.4rem;
    }
  }
}
@media only screen and (min-width: 991px){
  .categories{
    &__item-title{
      padding: 15px 10px;
      font-size: 1.6rem;
    }
  }
}
.collections__item:hover .collections__item-img-wrap{
  transform: scale(1.05);
}
