.why{
  padding-bottom: 10px;
  &__items-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    width: 80%;
    padding: 20px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  &__item span{
    display: inline-block;
  }
  &__item span i{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 3.5rem;
    color: $red;
  }
  &__item-title{
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 700;
    color: $textColor;
  }
  &__item-description{
    font-size: 1.6rem;
    color: $textColor;
    line-height: 1.3;

  }
}
@media only screen and (min-width: 575px){
  .why{
    &__item{
      width: 80%;
    }
  }
}
@media only screen and (min-width: 767px){
  .why{
    &__items-list{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
    }

    &__item{
      width: 31%;
      max-width: 330px;
    }
  }
}

@media only screen and (min-width: 991px) {
  .why__items-list {
    gap: 25px;
  }
}