<aside class="catalog-sidebar">
  <div class="catalog-sidebar__overlay"></div>
  <div class="catalog-sidebar__icon-close-wrap">
    <span class="catalog-sidebar__icon-close">
    </span>
  </div>
  <div class="catalog-sidebar__content">
    <div class="catalog-sidebar__header">
      <span class="catalog-sidebar__toggle">
        Категории
      </span>
    </div>
    <div class="catalog-sidebar__filters-list">
      <div class="catalog-sidebar__filters-group filter">
        <h4 class="filter__title sublist-title">
          Категории мебели
        </h4>
        <ul class="filter__options-list">
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Кровати
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Комоды
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Тумбочки
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Стеллажи
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Обеденные столы
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Кровати
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Комоды
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Тумбочки
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Стеллажи
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Обеденные столы
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Кровати
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Комоды
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Тумбочки
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Стеллажи
            </a>
          </li>
          <li class="filter__option-item">
            <a href="#" class="filter__option-link">
              Обеденные столы
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
