<section class="collections">
  <div class="container">
    <div class="section-title">
      <h2 class="section-title__text">
        <strong>Коллекции </strong>мебели
      </h2>
    </div>
    <div class="collections__list">
      <a href="shop.html" class="collections__item">
        <div class="collections__item-media">
          <div class="collections__item-img-wrap">
            <img src="../img/content/collections/collection1.jpg" alt="collection">
          </div>
        </div>
        <h3 class="collections__item-title">
          <span>Название коллекции мебели</span>
        </h3>
      </a>
      <a href="shop.html" class="collections__item">
        <div class="collections__item-media">
          <div class="collections__item-img-wrap">
            <img src="../img/content/collections/collection1.jpg" alt="collection">
          </div>
        </div>
        <h3 class="collections__item-title">
          <span>Название коллекции мебели</span>
        </h3>
      </a>
      <a href="shop.html" class="collections__item">
        <div class="collections__item-media">
          <div class="collections__item-img-wrap">
            <img src="../img/content/collections/collection1.jpg" alt="collection">
          </div>
        </div>
        <h3 class="collections__item-title">
          <span>Название коллекции мебели</span>
        </h3>
      </a>
      <a href="shop.html" class="collections__item">
        <div class="collections__item-media">
          <div class="collections__item-img-wrap">
            <img src="../img/content/collections/collection1.jpg" alt="collection">
          </div>
        </div>
        <h3 class="collections__item-title">
          <span>Название коллекции мебели</span>
        </h3>
      </a>
    </div>
  </div>
</section>
