<div class="main__content-wrap">
  {% include "templates/asides/_categories.html" %}
  <div class="product-list__wrap products-list__wrap--catalog">
    <div class="products-list__controls">
      <nav class="products-list__controls-list">
      <span class="catalog-sidebar__toggle" id="return-sidebar">
        Категории
      </span>
      </nav>
    </div>
    <div class="products-list products-list--catalog products-list--catalog-grid">
      <div class="products-list__catalog-inner">
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
        {% include "templates/product/_product_thumb.html" %}
      </div>
    </div>
    {% include "templates/pagination/_pagination.html" %}
  </div>
</div>
