<div class="mobile-nav-wrap">
      <div class="mobile-nav-overlay mobile-nav-under"></div>
      <div class="mobile-nav">
        <div class="mobile-nav__icon-close-wrap mobile-nav-close">
          <span class="mobile-nav__icon-close">
          </span>
        </div>
        <div class="mobile-nav__calling">
          <a href="tel:+000000000000" class="mobile-nav__call-link">
          <i class="fas fa-phone"></i>
          <span class="mobile-nav__call-action">Позвоните нам</span>
          <span class="mobile-nav__call-number">+000-00-000-00-00</span>
          </a>
        </div>
        <div class="mobile-nav__search-container">
          <form action="#" class="mobile-nav__form">
            <div class="mobile-nav__search-box">
              <input placeholder="Искать продукт..." type="text" class="mobile-nav__search-field">
              <button type="submit" class="mobile-nav__search-submit-btn">Поиск</button>
            </div>
          </form>
        </div>
        <ul class="mobile-nav__list">
          <li class="mobile-nav__item">
            <a href="index.html" class="mobile-nav__link mobile-nav__link--active">Главная</a>
          </li>
          <li class="mobile-nav__item">
            <a href="shop.html" class="mobile-nav__link mobile-nav__link--subtitle sublist-title">
            <span class="mobile-nav__sublist-icon hidden-items-control"></span>
            Коллекции</a>
            <ul class="mobile-nav__sub1-list hidden-items">
              <li class="mobile-nav__sub1-item">
                <a href="shop-clothes.html" class="mobile-nav__link mobile-nav__link--sub-nav">Название коллекции</a>
              </li>
              <li class="mobile-nav__sub1-item">
                <a href="shop-clothes.html" class="mobile-nav__link mobile-nav__link--sub-nav">Название коллекции</a>
              </li>
              <li class="mobile-nav__sub1-item">
                <a href="shop-clothes.html" class="mobile-nav__link mobile-nav__link--sub-nav">Название коллекции</a>
              </li>
              <li class="mobile-nav__sub1-item">
                <a href="shop-clothes.html" class="mobile-nav__link mobile-nav__link--sub-nav">Название коллекции</a>
              </li>
              <li class="mobile-nav__sub1-item">
                <a href="shop-clothes.html" class="mobile-nav__link mobile-nav__link--sub-nav">Название коллекции</a>
              </li>
              <li class="mobile-nav__sub1-item">
                <a href="shop-clothes.html" class="mobile-nav__link mobile-nav__link--sub-nav">Название коллекции</a>
              </li>
              <li class="mobile-nav__sub1-item">
                <a href="shop-clothes.html" class="mobile-nav__link mobile-nav__link--sub-nav">Название коллекции</a>
              </li>
            </ul>
          </li>
          <li class="mobile-nav__item">
            <a href="contacts-us.html" class="mobile-nav__link">Контакты</a>
          </li>
        </ul>
        <a href="mailto:mail@yourcompany.com" class="mobile-nav__mailto">mail@yourcompany.com</a>
      </div>
    </div>
