{% include "templates/base/_page_head.html" %}
{% include "templates/header/_header.html" %}
      <main class="main">
        <div class="container container--policy">
          <h1 class="page-title page-title--policy">Условия доставки</h1>
          <div class="policy-item">
            <p class="policy-item__text">
              Здесь вы можете изучить условия доставки по (стране / региону / городу)
            </p>
          </div>
          <div class="policy-item">
            <h4 class="policy-item__title">
              Цены
            </h4>
            <ul>
              <li>1. доставка в пределах города – бесплатно</li>
              <li>2. доставка по региону – 10 рублей</li>
              <li>3. доставка по стране – 20 рублей</li>
            </ul>
            <p class="policy-item__text">
              Важно: у нас действуют скидки, получив которые, вы получите бесплатную доставку до вашей двери.
          </p></div>
        </div>
      </main>
{% include "templates/footer/_footer.html" %}
</div>
{% include "templates/modals/_order_form.html" %}
{% include "templates/modals/_mobile_nav.html" %}
{% include "templates/base/_add_scripts.html" %}
</body>
</html>
