{% include "templates/base/_page_head.html" %}
{% include "templates/header/_header.html" %}
      <main class="main">
        <section class="section section--main-page section--main-page-first main-slider__outer">
          <div class="container">
              <div class="main-slider">
                <div class="main-slider__list">
                  <div class="main-slider__item">
                    <div class="main-slider__item-inner">
                      <img class="main-slider__item-img" src="../img/content/slider/slider6.jpg" alt="12">
                      <div class="main-slider__item-content">
                        <h3 class="main-slider__item-title">Широкий ассортимент</h3>
                        <div class="main-slider__item-description">
                          <ul class="main-slider__item-points-list">
                            <li class="main-slider__item-point">
                              <span>цены 2021г.</span>
                            </li>
                            <li class="main-slider__item-point">
                              <span>12 лет работы</span>
                            </li>
                            <li class="main-slider__item-point">
                              <span>100% гарантия</span>
                            </li>
                            <li class="main-slider__item-point">
                              <span>срок изготовления - 2 недели</span>
                            </li>
                            <li class="main-slider__item-point">
                              <span>эко-материалы</span>
                            </li>
                            <li class="main-slider__item-point">
                              <span>рассрочка без переплаты</span>
                            </li>
                          </ul>
                        </div>
                        <div class="main-slider__item-action-block">
                          <a href="shop.html" class="main-slider__action-link action-btn">В каталог
                            <span><i class="fas fa-chevron-double-right"></i></span>
                          </a>
                          <a href="shop.html" class="main-slider__action-link main-slider__action-link--consult action-btn call-btn">Консультация
                            <span><i class="fas fa-chevron-double-right"></i></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main-slider__item">
                    <div class="main-slider__item-inner">
                      <img class="main-slider__item-img" src="../img/content/slider/slider7.jpg" alt="12">
                      <div class="main-slider__item-content">
                        <h3 class="main-slider__item-title">МЕБЕЛЬ ИЗ ЭКОЛОГИЧЕСКИ ЧИСТЫХ МАТЕРИАЛОВ</h3>
                        <div class="main-slider__item-description">
                          <ul class="main-slider__item-points-list">
                            <li class="main-slider__item-point">
                              <span>Дуб</span>
                            </li>
                            <li class="main-slider__item-point">
                              <span>Сосна</span>
                            </li>
                            <li class="main-slider__item-point">
                              <span>Ольха</span>
                            </li>
                            <li class="main-slider__item-point">
                              <span>Эко-масло</span>
                            </li>
                            <li class="main-slider__item-point">
                              <span>Добротная фурнитура</span>
                            </li>
                          </ul>
                        </div>
                        <div class="main-slider__item-action-block">
                          <a href="shop.html" class="main-slider__action-link action-btn">В каталог
                            <span><i class="fas fa-chevron-double-right"></i></span>
                          </a>
                          <a href="shop.html" class="main-slider__action-link main-slider__action-link--consult action-btn call-btn">Консультация
                            <span><i class="fas fa-chevron-double-right"></i></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main-slider__item">
                    <div class="main-slider__item-inner">
                      <img class="main-slider__item-img" src="../img/content/slider/slider8.jpg" alt="12">
                      <div class="main-slider__item-content">
                        <h3 class="main-slider__item-title">Хит продаж</h3>
                        <p class="main-slider__item-description">
                          Бесплатная доставка, демократичные цены, скидки постоянным клиентам
                        </p>
                        <div class="main-slider__item-action-block">
                          <a href="shop.html" class="main-slider__action-link action-btn">В каталог
                            <span><i class="fas fa-chevron-double-right"></i></span>
                          </a>
                          <a href="shop.html" class="main-slider__action-link main-slider__action-link--consult action-btn call-btn">Консультация
                            <span><i class="fas fa-chevron-double-right"></i></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main-slider__item">
                    <div class="main-slider__item-inner">
                      <img class="main-slider__item-img" src="../img/content/slider/slider9.jpg" alt="12">
                      <div class="main-slider__item-content">
                        <h3 class="main-slider__item-title">Доставка</h3>
                        <p class="main-slider__item-description">
                          Транспортными компаниями в любую точку мира
                        </p>
                        <div class="main-slider__item-action-block">
                          <a href="shop.html" class="main-slider__action-link action-btn">В каталог
                            <span><i class="fas fa-chevron-double-right"></i></span>
                          </a>
                          <a href="shop.html" class="main-slider__action-link main-slider__action-link--consult action-btn call-btn">Консультация
                            <span><i class="fas fa-chevron-double-right"></i></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="page-title page-title--front-page">
                <h1 class="page-title__text">
                  Мебель из массива
                </h1>
                <p class="page-title__description page-title__description--front-page">
                  Здесь вы можете подобрать для своего дома как готовый комплект мебели, так и отдельные предметы из самых разных коллекций и стилей.
                </p>
              </div>
            <div class="advantages">
              <div class="advantages__item">
                <div class="advantages__item-content">
                  <img src="../img/decor/shipping/shipping6.png" alt="advantage" class="advantages__item-img">
                  <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 0 576 512"><path fill="#fcb700" d="M546.2 9.7c-5.6-12.5-21.6-13-28.3-1.2C486.9 62.4 431.4 96 368 96h-80C182 96 96 182 96 288c0 7 .8 13.7 1.5 20.5C161.3 262.8 253.4 224 384 224c8.8 0 16 7.2 16 16s-7.2 16-16 16C132.6 256 26 410.1 2.4 468c-6.6 16.3 1.2 34.9 17.5 41.6 16.4 6.8 35-1.1 41.8-17.3 1.5-3.6 20.9-47.9 71.9-90.6 32.4 43.9 94 85.8 174.9 77.2C465.5 467.5 576 326.7 576 154.3c0-50.2-10.8-102.2-29.8-144.6z"/></svg>
                  <div class="advantages__item-info">
                    <h5 class="advantages__item-title">Натуральные материалы</h5>
                    <div class="advantages__item-description">Для заказов свыше 2000р</div>
                  </div>
                </div>
              </div>
              <div class="advantages__item">
                <div class="advantages__item-content">
                  <img src="../img/decor/shipping/shipping7.png" alt="advantage" class="advantages__item-img">
                  <div class="advantages__item-info">
                    <h5 class="advantages__item-title">Оплата в рассрочку</h5>
                    <div class="advantages__item-description">На срок до 36 месяцев</div>
                  </div>
                </div>
              </div>
              <div class="advantages__item">
                <div class="advantages__item-content">
                  <img src="../img/decor/shipping/shipping8.png" alt="advantage" class="advantages__item-img">
                  <div class="advantages__item-info">
                    <h5 class="advantages__item-title">Гибкая система скидок</h5>
                    <div class="advantages__item-description">Постоянным покупателям</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--main-page categories">
          <div class="container">
            <div class="categories__list">
              <a href="shop.html" class="categories__item">
                <div class="categories__item-img-wrap">
                  <img src="../img/content/categories/category1.jpg" alt="category">
                </div>
                <h3 class="categories__item-title">
                  <span>Категория</span>
                </h3>
              </a>
              <a href="shop.html" class="categories__item">
                <div class="categories__item-img-wrap">
                  <img src="../img/content/categories/category1.jpg" alt="category">
                </div>
                <h3 class="categories__item-title">
                  <span>Категория</span>
                </h3>
              </a>
              <a href="shop.html" class="categories__item">
                <div class="categories__item-img-wrap">
                  <img src="../img/content/categories/category1.jpg" alt="category">
                </div>
                <h3 class="categories__item-title">
                  <span>Категория</span>
                </h3>
              </a>
              <a href="shop.html" class="categories__item">
                <div class="categories__item-img-wrap">
                  <img src="../img/content/categories/category1.jpg" alt="category">
                </div>
                <h3 class="categories__item-title">
                  <span>Категория</span>
                </h3>
              </a>
              <a href="shop.html" class="categories__item">
                <div class="categories__item-img-wrap">
                  <img src="../img/content/categories/category1.jpg" alt="category">
                </div>
                <h3 class="categories__item-title">
                  <span>Категория</span>
                </h3>
              </a>
            </div>
          </div>
        </section>
        {% include "templates/sections/index/_collections.html" %}
        <section class="section section--main-page products-overview">
          <div class="container">
            <div class="section-title">
              <h2 class="section-title__text">
                <strong>наши</strong> товары
              </h2>
              <p class="section-title__description">
                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всеми буквоград переписывается решила lorem если запятых своего, приставка о текста первую.
              </p>
            </div>
            <div class="products-list">
              <div class="accordeon products-list__parts-wrap">
                <ul class="products-list__parts-nav">
                  <li class="products-list__part-nav-item">
                    <a href="index.html" class="products-list__part-nav-link accordeon__item-nav-link accordeon__item-nav-link--active" data-tab-id="products-list__part-bestsellers">бестселлеры</a>
                  </li>
                  <li class="products-list__part-nav-item">
                    <a href="index.html" class="products-list__part-nav-link  accordeon__item-nav-link" data-tab-id="products-list__part-new">новинки</a>
                  </li>
                  <li class="products-list__part-nav-item">
                    <a href="index.html" class="products-list__part-nav-link accordeon__item-nav-link" data-tab-id="products-list__part-rates">рейтинговые</a>
                  </li>
                </ul>
                <div class="products-list__parts-list">
                  <div class="products-list__part-item accordeon__item-content accordeon__item-content--active" id="products-list__part-bestsellers">
                    <div class="products-list__inner">
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                    </div>
                  </div>
                  <div class="products-list__part-item accordeon__item-content" id="products-list__part-new">
                    <div class="products-list__inner">
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                    </div>
                  </div>
                  <div class="products-list__part-item accordeon__item-content" id="products-list__part-rates">
                    <div class="products-list__inner">
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                      {% include "templates/product/_product_thumb.html" %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--main-page why">
          <div class="container">
            <div class="section-title">
              <h2 class="section-title__text">
                <strong>Почему </strong>мы?
              </h2>
            </div>
            <div class="why__items-list">
              <div class="why__item">
                <span><i class="far fa-usd-square"></i></span>
                <h4 class="why__item-title">Держим цены на уровне 2021г</h4>
                <p class="why__item-description">
                  Наши цены остаются стабильными, чтобы предложить вам доступную мебель высокого качества.
                </p>
              </div>
              <div class="why__item">
                <span><i class="far fa-calendar-alt"></i></i></span>
                <h4 class="why__item-title">12 лет работы</h4>
                <p class="why__item-description">
                  Мы имеем богатый опыт в мебельной индустрии, обеспечивая надежность и профессионализм в каждом заказе.
                </p>
              </div>
              <div class="why__item">
                <span><i class="fas fa-user-secret"></i></span>
                <h4 class="why__item-title">100% гарантия качества</h4>
                <p class="why__item-description">
                  Мы гарантируем, что каждая деталь нашей мебели проходит строгий контроль качества для вашего удовлетворения.
                </p>
              </div>
              <div class="why__item">
                <span><i class="fal fa-business-time"></i></span>
                <h4 class="why__item-title">Срок изготовления - 2 недели</h4>
                <p class="why__item-description">
                  Мы ценим ваше время и стремимся предложить быстрые сроки изготовления без ущерба для качества нашей мебели.
                </p>
              </div>
              <div class="why__item">
                <span><i class="fas fa-trees"></i></span>
                <h4 class="why__item-title">Эко-материалы</h4>
                <p class="why__item-description">
                  Мы используем экологически чистые материалы, чтобы создать мебель, отвечающую вашим потребностям и заботе о природе.
                </p>
              </div>
              <div class="why__item">
                <span><i class="fas fa-money-bill-alt"></i></span>
                <h4 class="why__item-title">Рассрочка без переплаты</h4>
                <p class="why__item-description">
                  У нас есть гибкая система рассрочки без переплаты, чтобы помочь вам осуществить свои мебельные мечты без лишних затрат.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="section section--main-page discounts">
          <div class="container">
            <div class="section-title section-title--horizontal">
              <h2 class="section-title__text">
                <strong>Большие </strong>скидки
              </h2>
            </div>
            <div class="discounts__slider">
              {% include "templates/product/_product_thumb.html" %}
              {% include "templates/product/_product_thumb.html" %}
              {% include "templates/product/_product_thumb.html" %}
              {% include "templates/product/_product_thumb.html" %}
              {% include "templates/product/_product_thumb.html" %}
              {% include "templates/product/_product_thumb.html" %}
              {% include "templates/product/_product_thumb.html" %}
              {% include "templates/product/_product_thumb.html" %}
            </div>
          </div>
        </section>
        <section class="section section--main-page process">
          <div class="container">
            <div class="section-title">
              <h2 class="section-title__text">
                <strong>Как </strong>мы работаем?
              </h2>
            </div>
            <div class="process__items-list">
              <div class="process__item">
                <div class="process__item-number-wrap">
                  <span class="process__item-number">1</span>
                </div>
                <p class="process__item-text">Вы оставляете заказ на нашем сайте</p>
              </div>
              <div class="process__item">
                <div class="process__item-number-wrap">
                  <span class="process__item-number">2</span>
                </div>
                <p class="process__item-text">Мы уточняем у Вас детали заказа</p>
              </div>
              <div class="process__item">
                <div class="process__item-number-wrap">
                  <span class="process__item-number">3</span>
                </div>
                <p class="process__item-text">Наш сотрудник привозит его Вам</p>
              </div>
            </div>
          </div>
        </section>
      </main>
{% include "templates/footer/_footer.html" %}
    </div>
{% include "templates/modals/_order_form.html" %}
{% include "templates/modals/_mobile_nav.html" %}
{% include "templates/modals/_modals_forms.html" %}
{% include "templates/base/_add_scripts.html" %}
  </body>
</html>
