{% include "templates/base/_page_head.html" %}
{% include "templates/header/_header.html" %}
      <main class="main">
        <div class="container container--policy">
          <h1 class="page-title page-title--policy">ОПЛАТА</h1>
          <div class="policy-item">
            <h4 class="policy-item__title">
              - КАК ОПЛАТИТЬ ЛЮБОЙ ТОВАР, ПРЕДСТАВЛЕННЫЙ В НАШЕМ МАГАЗИНЕ:
            </h4>
            <p class="policy-item__text">
              При покупке любого товара в нашем магазине, Вы имеете возможность оплатить как наличными, так и картой. Сумма оплаты будет исходить из общего количества сумм приобретенного товара.
            </p>
          </div>
          <div class="policy-item">
            <h4 class="policy-item__title">
              - ПОРЯДОК ОСУЩЕСТВЛЕНИЯ РАСЧЕТОВ:
            </h4>
            <p class="policy-item__text">
              Оплата на сайте путем перечисления денежных средств на счет нашего юридического (физического) лица.
            </p>
            <p class="policy-item__text">
              Оплата курьеру при получении товара.
            </p>
          </div>
        </div>
      </main>
{% include "templates/footer/_footer.html" %}
</div>
{% include "templates/modals/_order_form.html" %}
{% include "templates/modals/_mobile_nav.html" %}
{% include "templates/base/_add_scripts.html" %}
</body>
</html>
